includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    ignoreErrors:
        -
          message: '#Undefined variable: \$this$#'
          paths:
            - tests/*
    tmpDir: build/phpstan
    #checkOctaneCompatibility: true
    #checkModelProperties: true
    checkMissingIterableValueType: false

