includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
        - tests
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        -
            messages:
                - '#Access to an undefined property Pest\\Expectation<Closure>::\$[\w\-_]*#'
            path: tests/*
